@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af;
  pointer-events: none;
  height: 0;
}